$neutral-white-ffffff: #fff;
$neutral-gray-f-6-f-7-fc: #f6f7fc;
$neutral-gray-dadde-4: #dadde4;
$neutral-gray-6-a-6-c-75: #6a6c75;
$neutral-black-32373-c: #32373c;
$primary-pastel-blue-f-4-f-8-ff: #f4f8ff;
$primary-pastel-blue-e-8-f-0-ff: #e8f0ff;
$primary-blue-4-c-8-cff: #4c8cff;
$secondary-red-ff-4-d-75: #ff4d75;
$neutral-gray-c-6-c-9-d-3: #c6c9d3;
$neutral-gray-b-3-b-7-c-5: #b3b7c5;
$neutral-gray-9499-ab: #9499ab;
$neutral-gray-f-9-fafc: #f9fafc;
$neutral-gray-edeff-4: #edeff4;
$secondary-navy-27467-f: #27467f;
$secondary-green-35-d-7-aa: #35d7aa;
$neutral-white-ffffff: #fff;
$secondary-red-400: #fe415c;
$neutral-gray-f-9-fafc: #f9fafc;
$secondary-red-ff-4-d-75: #ff4d75;
$neutral-gray-c-6-c-9-d-3: #c6c9d3;
$secondary-green-2-fd-0-a-3: #2fd0a3;
$neutral-gray-edeff-4: #edeff4;
$neutral-black-32373-c: #32373c;
$neutral-gray-b-3-b-7-c-5: #b3b7c5;
$neutral-gray-f-6-f-7-fc: #f6f7fc;
$neutral-gray-dadde-4: #dadde4;
$neutral-white-ffffff: #fff;
$primary-pastel-blue-f-4-f-8-ff: #f4f8ff;
$primary-blue-4-c-8-cff: #4c8cff;
$neutral-gray-9499-ab: #9499ab;
$neutral-gray-6-a-6-c-75: #6a6c75;
$secondary-navy-27467-f: #27467f;
$primary-pastel-blue-e-8-f-0-ff: #e8f0ff;
$primary-blue-3-b-78-e-5: #3b78e5;
$secondary-pink-ff-7-b-99: #ff7b99;
$secondary-pink-fff-2-f-5: #fff2f5;
$secondary-pink-ffe-5-eb: #ffe5eb;
$secondary-green-f-1-fbf-8: #f1fbf8;
$neutral-white-100: #fff;
$gray: #c7c7c7;
$blue-grey: #808596;
$neutral-gray-dadde-4: #dadde4;
$primary-blue-4-c-8-cff: #4c8cff;
$neutral-white-ffffff: #fff;
$neutral-gray-9499-ab: #9499ab;
$neutral-gray-b-3-b-7-c-5: #b3b7c5;
$neutral-gray-6-a-6-c-75: #6a6c75;
$neutral-black-32373-c: #32373c;
$neutral-gray-f-9-fafc: #f9fafc;
$neutral-gray-edeff-4: #edeff4;
$secondary-green-2-fd-0-a-3: #2fd0a3;
$secondary-red-ff-4-d-75: #ff4d75;
$secondary-navy-27467-f: #27467f;
$primary-pastel-blue-f-4-f-8-ff: #f4f8ff;
$primary-blue-3-b-78-e-5: #3b78e5;
$neutral-gray-f-6-f-7-fc: #f6f7fc;
$secondary-pink-ff-7-b-99: #ff7b99;
$neutral-gray-c-6-c-9-d-3: #c6c9d3;
$secondary-pink-fff-2-f-5: #fff2f5;
$primary-pastel-blue-e-8-f-0-ff: #e8f0ff;
$secondary-pink-ffe-5-eb: #ffe5eb;
$secondary-green-f-1-fbf-8: #f1fbf8;
$primary-pastel-blue-93-baff: #93baff;
$primary-pasetl-blue-7-dabff: #7dabff;
$neutral-gray-979-aa-5: #979aa5;
$secondary-navy-343-e-50: #343e50;
$primary-paster-blue-edf-4-ff: #edf4ff;
$neutral-gray-808596: #808596;
$secondary-orange-ffb-00-d: #ffb00d;
$neutral-black-000000: #000;
$neutral-gray-e-6-e-6-e-6: #e6e6e6;
$neutral-gray-e-6-e-9-f-0: #e6e9f0;
$lightblue: #68c7ed;
$pale-grey: #f2f9ff;
$dark-sky-blue: #39addc;
$turtle-green: #71b752;
$off-white: #f6fff2;
$light-moss-green: #94d07a;
$peach: #ffbc84;
$faded-orange: #ff943b;
$very-light-pink: #fff8f2;
$peachy-pink: #ff8484;
$very-light-pink: #fff2f2;
$purpleish-pink: #f647c6;
$bubblegum-pink: #fd89dd;
$pale-mauve: #fff2fc;
$lightish-purple: #b241ff;
$liliac: #ce89fd;
$pale-grey-2: #fcf0ff;
$purpley: #6e50ff;
$pale-grey-3: #f0f0ff;
$periwinkle: #9d89fd;
$neutral-black-32373-c: #32373c;
$point: #1BC9B7;
$point-blue: #4D94C2;
$point-deep-blue: #455D74;
$point-deep-blue2: #4480C2;

$iconActiveColor: '00bfb0';
$iconDefaultColor: '4c8cff';
$iconHoverColor: '3b78e5';
$iconGreenColor: '2fd0a3';
$iconPointColor: '1BC9B7';
$iconPointBlueColor: '4D94C2';
$iconPointDeepColor: '455D74';


